h1 {
    font: 50px;
    color: navy;
    text-align: center;
}

.start-button {
    color: red;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 25px 53px;
    font-size: 24px;
}

.start-button:hover{
    background-color: palegreen;
}

h4 {
    color: red;
    text-align: center;
    font-size: 20px;
    font: ariel;
}

.timer {
    text-align: center;
    font-size: 30px;
    font-style: strong;
}

.questionBox, .anwserBox {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    width: 50%;
    border-style: double;
    border-color: indigo;
    justify-content: center;
}

#anw-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  #anw-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  #anw-group button:hover {
    background-color: #3e8e41;
  }
